<ion-header [translucent]="true" class="UpperTop">
  <ion-toolbar class="Only">
    <ion-title size="large" class="TopText">Pokédex</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="Top">

  <ion-list>
    <ion-item *ngFor="let item of pokemon" [routerLink]="['/pokemons/view',item.id]">

      <ion-avatar slot="start">
        <img src={{item.url}}/>
      </ion-avatar>

    <ion-label>
      <h3> <b>{{item.nombre}}</b></h3>
      <p> <b>Category: </b> <i> {{item.categoria}} </i> </p>
      <p> <b>Type: </b>  <i> {{item.tipo}} </i> </p>
    </ion-label>

    </ion-item>

  </ion-list>

  
  <ion-button [routerLink]="['/pokemons/create']">
  Add new Pokémon
  </ion-button>
    

</ion-content>


  

