<ion-header [translucent]="true" class="UpperTop">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="Top">
  <ion-header collapse="condense">
    <ion-toolbar class="Only">
      <ion-title size="large" class="TopText">Pokédex</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-text color="dark">
    <h2>
      Hi there! Welcome to the world of Pokémon!
    </h2>
    <h6>
      This is the latest version of the Pokédex. It automatically records data on Pokémon you've seen or caught. It's a high-tech encyclopedia!
    </h6>
    <h6>
      Select one of the options at the bottom of your screen to navigate the Pokédex.
    </h6>
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/98/International_Pok%C3%A9mon_logo.svg/1200px-International_Pok%C3%A9mon_logo.svg.png" alt="" class="TitlePok">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Pok%C3%A9_Ball_icon.svg/1026px-Pok%C3%A9_Ball_icon.svg.png" alt="" class="Pokeball">
    
  </ion-text>
</ion-content>



